
data/metadata.csv
data/document_parses/*
notebooks/.ipynb_checkpoints/simple_vsm_implementation-checkpoint.ipynb
notebooks/vsm.dict
notebooks/vsm_docs.mm
notebooks/vsm_docs.mm.index
data/cord_19_embeddings_2020-07-16.csv
data/cord-19_2020-07-16.tar
data/changelog
notebooks/.ipynb_checkpoints/Vector_Space_System-checkpoint.ipynb
